.city-distances-table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.city-distances-table th,
.city-distances-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #a2a0a0;
}

.city-distances-table th {
  background-color:  #f0d9b5;
  font-weight: bold;
}

.city-distances-table td {
  font-weight: normal;
}

.city-distances-table .td-city {
  font-weight: bold;
  background-color:  #f0d9b5;
}

.city-distances-table tbody tr:nth-child(odd) {
  background-color: #ede5d7;
}

.city-distances-table tbody tr:hover {
  background-color: #e8e8e8;
}

.city-distances-table th:first-child,
.city-distances-table td:first-child {
  text-align: left;
}

.input-row {
  display: flex;
}

.input-row input {
  flex: 1;
  margin-right: 5px; /* optional spacing between inputs */
}

.dist-input{
  width: 85px;
}
