
  .board {
    display: inline-block;
  }
  
  .restart-button{
    margin-left:140px;
    margin-bottom: 10px;
  }

  .tip{
    text-align: center;
  }

  .row {
    display: flex;
  }
  
  .cell {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .light {
    background-color:  #f0d9b5;
  }
  
  .dark {
    background-color: #b58863;
  }